html {
	font-size: 62.5%;
}

* {
	padding: 0%;
	margin: 0%;
}

body {
	width: 100%;
	height: 100vh;
}

/* Header */

#headerContainer {
	width: 100%;
	height: 10%;
	background: #e74c3c;
	color: white;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#headerContainer p {
	font-size: 2rem;
	margin-top: 0.8rem;
}

#user {
	margin-right: 1rem;
}

#cpu {
	margin-left: 1rem;
}


#score {
	width: 7rem;
	height: 4rem;
	font-size: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Main */

#main {
	width: 100%;
	height: 80%;
	background: white;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

#title {
	margin-bottom: 13rem;
	font-size: 5rem;
}

#options {
	width: 100%;

	display: flex;
	justify-content: space-around;	
}

.imgBorder {
	border: solid white;
}

.imgBorder:hover {
	border-color: #e74c3c;
	border-radius: 30%;
	cursor: pointer;
}